.Login_SignupContainer {
    width: 100vw;
    position: absolute;
    height: 100wh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    background-color: white;
}

.Login_SignupBox {
    background-color: rgb(237, 233, 233);
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}

.Login_SignupToggle {
    display: flex;
    height: 3rem;
}


.Login_SignupToggle > p {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
}

.Login_SignupToggle > p:hover {
    color: tomato;
}

.Login_SignupBox > div > button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}

.loginForm,
.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 3rem;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}

.signupForm {
    transform: translateY(-100%) translateX(-100vmax);
}

.loginForm>div,
.signupForm>div {
    width: 100%;
    align-items: center;
    display: flex;
}

.loginForm>div>i,
.signupForm>div>i {
    font-size: 20px;
    letter-spacing: 10px;
}

.loginForm>div>input,
.signupForm>div>input {
    padding: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font-size: 15px;
    outline: none;
}

.loginForm>div>svg,
.signupForm>div>svg {
    position: absolute;
    transform: translateX(1rem);
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.623);
}

.loginForm>a {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font-size: 15px;
}

.loginForm > a:hover{
    color: blue;
}

.loginBtn,
.signupBtn {
    border: none;
    background-color: rgb(4, 97, 238);
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 0.8rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    margin-top: 20px;
}

.loginBtn:hover,
.signupBtn:hover {
    background-color: rgb(179, 66, 46);
}

.shiftToLeft {
    transform: translateX(-100%);
}

.shiftToNeutral {
    transform: translateX(0%);
}

.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
    transform: translateX(100%);
}


@media screen and (max-width: 600px) {
    .Login_SignupBox {
        width: 100vw;
        height: 95vh;
    }

    .Login_SignupToggle {
        height: 5rem;
    }

    .Login_SignupToggle>p {
        font-size: 12px;
        font-weight: bold;
    }

    .loginForm,
    .signupForm {
        padding: 5rem;
    }

    .loginForm>div>input,
    .signupForm>div>input {
        padding: 0.8rem 2rem;
        font-size: 12px;
    }

    .loginForm>div>svg,
    .signupForm>div>svg {
        font-size: 2rem;
    }

    .loginForm>a {
        font-size: 12px;
    }
    .loginBtn,
    .signupBtn {
        font-size: 12px;
        padding: 0.8rem;
    }
}